<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="../images/imagen.ico" type="image/x-icon"> <!-- Aquí se coloca el ícono -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo sobre Deporte - Acerca de</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="bg-gray-100">
    <header class="bg-green-500 text-white p-4 text-center">
        <h1 class="text-3xl">Todo sobre Deporte</h1>
    </header>
    <nav class="p-4 text-center">
        <ul class="flex justify-center space-x-4">
            <li><a href="../index.html" class="text-green-700">Inicio</a></li>
            <li><a href="tematica.html" class="text-green-700">Temática</a></li>
            <li><a href="acercade.html" class="text-green-700">Acerca de</a></li>
            <li><a href="contacto.html" class="text-green-700">Contacto</a></li>
            <li><a href="media.html" class="text-green-700"> Imagenes y video</a></li>

        </ul>
    </nav>
    <main class="flex justify-center p-4">
        <section class="mt-6 max-w-2xl w-full">
            <h2 class="text-2xl text-center">Acerca de</h2>
            <p class="text-center">Este sitio está dedicado a todos los amantes del deporte, proporcionando información y recursos para disfrutar de diversas disciplinas deportivas.</p>
            <div class="bg-blue-100 shadow-md p-4 mt-4 rounded-lg">
                <h3 class="text-xl">Fútbol</h3>
                <p>El fútbol es el deporte más popular del mundo, donde dos equipos de once jugadores compiten para anotar goles. La Copa del Mundo es su evento más destacado.</p>
            </div>
            <div class="bg-blue-100 shadow-md p-4 mt-4 rounded-lg">
                <h3 class="text-xl">Tenis</h3>
                <p>El tenis se juega individualmente o en parejas y es conocido por torneos como Wimbledon. Los jugadores usan raquetas para golpear la pelota sobre una red.</p>
            </div>
            <div class="bg-blue-100 shadow-md p-4 mt-4 rounded-lg">
                <h3 class="text-xl">Baloncesto</h3>
                <p>El baloncesto es un deporte de equipo donde dos equipos de cinco jugadores intentan anotar puntos lanzando una pelota a través de un aro. La NBA es su liga más reconocida.</p>
            </div>
        </section>
    </main>
    <footer class="bg-green-500 text-white p-4 text-center">
        <p>&copy; 2024 Todo sobre Deporte</p>
    </footer>
</body>
</html>